<head>
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
</head>
<div class="demo-layout-transparent mdl-layout mdl-js-layout"></div>
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--transparent">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title"><h1>Logged in</h1></span>
        
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" routerLink="/posts"><h4>Posts</h4></a>
            
          </nav>
        
      </div>
    </header>
   
    <main class="mdl-layout__content">
    </main>
  </div>

<nav>
      <button class="mdl-button mdl-js-button" routerLink="/content1" routerLinkActive="active">
        Cat
      </button>    
      <button class="mdl-button mdl-js-button" routerLink="/content2" routerLinkActive="active">
        Dog
      </button> 
      <hr>   
</nav>

